{%extends 'users/userbase.html'%}

{%block contents%}

<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>User Home</h6>
                  
                  <h4 style="color:red;"><u>Machine Learning for Web Vulnerability Detection: The Case of Cross-Site Request Forgery</u></h4>
                     
                </div>
            </div>
          </div>
        </div>
    </div>


{%endblock%}